<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""><fa name="medium"></fa> Modeso</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="this.authService.authenticated === true">
          <a class="nav-link" [routerLink]="['/users',authService.currentUser.id,'notes']">Me</a>
      </li>
      <li class="nav-item" *ngIf="this.authService.authenticated===true">
          <a class="nav-link" [routerLink]="['/note','create']">
            <fa name="plus"></fa> New Note
          </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown" *ngIf="this.authService.authenticated === true; else auth_content">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div  class="dropdown-menu" id="drop-down-items" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/users/me">Profile</a>
          <a class="dropdown-item" routerLink="/users/me/edit">Settings</a>
          <a class="dropdown-item" (click)="onLogOut()">Log Out</a>
        </div>

      </li>
      <ng-template #auth_content>

            <a class="nav-link" routerLink="/signup" >
              <fa name="user-plus"></fa> SignUp
            </a>
            <a class="nav-link" routerLink="/signin" >
              <fa name="key"></fa> SignIn
            </a>

      </ng-template>
    </ul>
  </div>
</nav>
