<div class="container">
  <ng-container *ngIf="errorMessage ; else notes_content">
    <div  class="alert alert-danger col-10 " style=" padding-left: 27% ; margin:auto; ">
      {{errorMessage}}
    </div>
  </ng-container>
  <ng-template #notes_content>
    <ng-container *ngIf="note !==null">
      <div  [id]="note.id" class="card mb-10">
        <div class="card-body" >
          <div class="row">
            <div class="col-8">
              <h2 class="card-title">{{note.title}}</h2>
            </div>
            <div class="col-2">
              public: {{note.public}}
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <img class="card-img-top" src="http://localhost:3000/api/v1/notes/{{note.id}}/image" alt="Card image cap">
            </div>
            <div class="col">
              <p class="card-text">{{note.content}}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-2">
              <a [routerLink]="['/users',authService.currentUser.id,'notes']" class="btn btn-primary"> &larr; Back </a>
            </div>
            <div class="col">
              <a [routerLink]="['/note',note.id,'edit']" class="btn btn-success"> Edit </a>
            </div>
            <div class="col">
              <button (click)="onDelete(+note.id)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on {{note.createdAt | date : 'dd/MM/yyyy , h:mm'}}
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
