<div class="container">
  <ng-container *ngIf="errorMessage ; else notes_content">
    <div  class="alert alert-danger col-10 " style=" padding-left: 27% ; margin:auto; ">
      {{errorMessage}}
    </div>
  </ng-container>
  <ng-template #notes_content>
    <ng-container *ngIf="notesArray.length !==0; else other_content">
      <div *ngFor="let note of notesArray | paginate: {itemsPerPage:2,currentPage:page}" [id]="+note.id" class="card mb-10">
        <div class="card-body" >
          <div class="row">
            <div class="col-8">
              <h2 class="card-title">Title: {{note.title}}</h2>
            </div>
            <div class="col-2" style="color: #00aced">
              public: {{note.public}}
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <img class="card-img-top" src="http://localhost:3000/api/v1/notes/{{+note.id}}/image" alt="Card image cap">
            </div>
            <div class="col" style="margin-top: 7%">
              <p class="card-text">{{note.content}}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-2">
              <a [routerLink]="['/note',note.id]" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="col-sm-1">
              <a [routerLink]="['/note',note.id,'edit']" class="btn btn-success"> Edit </a>
            </div>
            <div class="col">
              <button (click)="onDelete(+note.id)" class="btn btn-danger">Delete</button>
            </div>
          </div>

        </div>
        <div class="card-footer text-muted">
          Posted on {{note.createdAt | date : 'dd/MM/yyyy , h:mm'}}
        </div>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </ng-container>
  </ng-template>
<ng-template #other_content>
  <h1>
    No Content Public Notes Found
  </h1>
</ng-template>
</div>
